.testimonial-section {
  padding: 80px 0 80px;
  background-image: url("../../../src/assets/Testimonial/bg-1.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}
.testimonial-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
  background-color: #1f2235;
}
.footer-image {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: -110px;
}
.footer-image img {
  max-width: 100%;
  height: 130px;
}

.testimonial-section .testi-item {
  background-color: white;
  padding: 30px;
  border-radius: 50px 50px 50px 0px;
}

.testimonial-section .testi-item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 10px;
  font-style: italic;
}
.testimonial-section .testi-item p .fa-quote-left {
  margin-right: 5px;
  color: tomato;
}
.testimonial-section .testi-item p .fa-quote-right {
  margin-left: 5px;
  color: tomato;
}

.testimonial-section .testi-comment .stars {
  margin: 0 0 20px;
}
.testimonial-section .testi-comment .stars li {
  display: inline-block;
  margin: 0 1px;
}
.testimonial-section .testi-comment .stars li i {
  font-size: 13px;
  color: tomato;
}
.testimonial-section .client-info {
  position: relative;
  padding-left: 80px;
  padding-top: 5px;
  min-height: 60px;
}
.testimonial-section .client-info img {
  height: 70px;
  width: 70px;
  border: 2px solid transparent;
  border-color: black;
  left: 0;
  top: 0;
  border-radius: 50%;
  position: absolute;
}
.testimonial-section .client-info h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 2px;
}
.testimonial-section .client-info p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}


.testimonials{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.testimonials .wrapper {
  width: 100%;
  padding: 0 15px;
}

.wrapper .section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section--header .title {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  line-height: 1.2;
}

.wrapper .testimonial-item {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10 rgba(0,0,0,0.2);
}

.testimonial-item .info {
  display: flex;
  align-items: center;
}

.info img{
  width: 80px;
  height: 80px;
  object-fit:cover;
  border-radius: 50%;
  margin-right: 20px;
}

.info .name {
  font-size: 20px;
  font-weight:600;
  line-height:1.2;
  text-transform: capitalize;
}

.info .job {
  text-transform:capitalize;
}

.testimonial-item p {
  margin-top: 15px;
  font-size: 13px;
}

.testimonial-item .rating{
  margin-top: 15px;
  font-size: 14px;
  color: goldenrod;
}

.swiper {
  width: 1000px;
  height: auto;
}

/* Basic styles for navigation buttons */
.swiper-button-next, .swiper-button-prev {
  color: black; /* Change to desired color */
  background-color: rgba(255, 255, 255, 0.5); /* Optional background */
  position: relative;
  z-index: 10; /* Ensure buttons are on top */
}

.swiper-pagination-bullet {
  background-color: gray; /* Bullet color */
  z-index: 10;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff; /* Active bullet color */
  z-index: 10;
}

.testimonial-content .swiper-pagination {
  /* position: relative; */
  margin-top: 40px;
}



.card-content {
  padding: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 132px; /* This is the collapsed height */
}

.card-content.expanded {
  max-height: 1000px; /* Set to a large value or 'none' to allow the content to expand fully */
}

.read-more-btn {
  color: #007bff;
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-top: auto;
  text-align: left;
}

.read-more-btn:hover {
  color: #005dc0;
  font-weight: bold;
}


@media only screen and (max-width: 1110px) {
  .swiper-slide{
    width: 350px !important;
  }
}


@media only screen and (max-width: 1023px) {
  .swiper-slide{
    width: 350px !important;
  }
}